{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>{{ name }}'s articles</h1>

    {% if articles %}
        <ul>
            {% for article in articles %}
                <a href="/article/{{ article.id }}">
                    <li>{{ article.title }}</li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <div>There are currently no articles.</div>
    {% endif %}

{% endblock %}