{% extends 'base.html.twig' %}

{% block title %}
    New article
{% endblock %}

{% block body %}
    <h1>Create a new article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('home') }}">Go back to all articles</a>
{% endblock %}