{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <hr>
    <a href="/">Go back to all articles (via a path)</a>
    <br>
    <a href="{{ path('home') }}">Home via a named route! ;)</a>
{% endblock %}